body{
    margin: 0;
   
}

*{ /* garde taille de la boite même si padding et bordure*/
    box-sizing: border-box; 
}
.wrapper {
  height: 100vh; 
  display: grid;
  place-content: center; 
  background-image: url('/assets/img/Entrance_Hallway.webp');
  grid-template-columns: 80vh 20vh;
  place-items: center;
}
#dial
{
    width: 25vw;    
    display: grid;
    grid-area: 2;
    grid-template-columns: 33% 33% 33%;  
    gap: 0.5vw;
    
    margin-top: 0.8rem;
    place-items: center;
}

.keyBoardKey 
{
    display: flex;
    width: 8vw;
    height: 8vw;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;   
    border-radius: 1vw;
    background: linear-gradient(25deg, #525a65, #3b424c);
    color: rgba(255, 255, 255, .8);
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, .2),
                inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
                4px 1px 1px 0 rgba(0, 0, 0, .5),
                -1px -3px 1px 0 rgba(0, 0, 0, .5),
                4px -3px 1px 0 rgba(0, 0, 0, .5),
                -1px -1px 5px 0 rgba(0, 0, 0, .5);
    cursor: pointer;
    user-select: none;
    transition: .1s;        
}
.letter-tile{
    margin-top: 10px;
    display: grid;
    align-items: center;
    justify-content: center;
    color: '#333';
    font-size: 2.5vw;
    width: 3vw;
    height: 3vw;
    border-radius: 1vw;
    
    box-shadow: inset 2px -1px 1px 0 rgba(255, 255, 255, .2),
    inset -3px 2px 5px 0 rgba(0, 0, 0, .2),
    4px 1px 1px 0 rgba(0, 0, 0, .5),
    -1px -3px 1px 0 rgba(0, 0, 0, .5),
    4px -3px 1px 0 rgba(0, 0, 0, .5),
    -1px -1px 5px 0 rgba(0, 0, 0, .5);
      
}
.keyBoardKey:first-child 
{    
    order: 1;
    grid-area: 4 / 2 / 5 / 3;
}
.active {
    box-shadow: none;
    transition: .1s;
}
.calculator__screen {
    display: flex;
    align-self: center;
    justify-self: center;
    background-image: linear-gradient(-155deg, #44443a 0%, #656f66 100%);
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, .3),
      5px 0 3px -5px rgba(255, 255, 255, .8),
      0 5px 5px -3px rgba(0, 0, 0, .5),
      -3px 0 3px -1px rgba(0, 0, 0, .8),
      inset 0 -5px 3px -3px rgba(0, 0, 0, .5),
      inset 5px 0 5px -2px rgba(0, 0, 0, .8);
    width: 25vw;
    height: 8vh;
    text-align: center;
    font-size: 2.5rem;
    color: black;
    font-weight: bold;
    }

.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    background-image: url('/assets/img/Entrance_Hallway.webp');
    height: 100vh;
}
aside {
    grid-area: span 2/2;
    width: 12vw;
    height: 90%;
    display: grid;
    grid-template-rows: 5% 95%;
    gap: 10px;
   
}

.tooltip {
  font-size: 2rem;
  justify-self: flex-end;
  color: #F8F005;
  width: fit-content;
  
}
.color-badge {
  width: 2vh;
  height: 2vh;
  border-radius: 50%;
  margin: 0.5vw;
}
.help {
  margin: 0.5vw;
  
}
.red {
  background-color: #DE3700;
}
.yellow {
  background-color: #E1FF00
}
.green {
  background-color: #86DC3D;
}
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: left;
  border-radius: 1vw;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  right: 9vw;
  top: 8vw;
  font-family: 'Poppins', sans-serif;
  z-index: 1;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: repeat(3, 1fr);
  font-size: 1rem;
  place-items: start;

}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.guess-container{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: repeat(10, 1fr);
    border-radius: 1vw;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(-155deg, #44443a 0%, #656f66 100%);
    place-content: center;
    place-items: center;
    box-shadow: 0 -4px 4px -3px rgba(255, 255, 255, .3),
    5px 0 3px -5px rgba(255, 255, 255, .8),
    0 5px 5px -3px rgba(0, 0, 0, .5),
    -3px 0 3px -1px rgba(0, 0, 0, .8),
    inset 0 -5px 3px -3px rgba(0, 0, 0, .5),
    inset 5px 0 5px -2px rgba(0, 0, 0, .8);

}

h1 {
    font-size: 8rem
}

	
button, button::after {
    width: 380px;
    height: 86px;
    font-size: 36px;
    font-family: 'Bebas Neue', cursive;
    background: linear-gradient(45deg, transparent 5%, #FF013C 5%);
    border: 0;
    color: #fff;
    letter-spacing: 3px;
    line-height: 88px;
    box-shadow: 6px 0px 0px #00E6F6;
    outline: transparent;
    position: relative;
    cursor: pointer;
  }
  
  button::after {
    --slice-0: inset(50% 50% 50% 50%);
    --slice-1: inset(80% -6px 0 0);
    --slice-2: inset(50% -6px 30% 0);
    --slice-3: inset(10% -6px 85% 0);
    --slice-4: inset(40% -6px 43% 0);
    --slice-5: inset(80% -6px 5% 0);
    
    content: 'PLAY AGAIN';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
    text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
    clip-path: var(--slice-0);
  }
  
  button:hover::after {
    animation: 1s glitch;
    animation-timing-function: steps(2, end);
  }
  
  a, a:visited {
      text-decoration: none;
  }
  @keyframes glitch {
    0% {
      clip-path: var(--slice-1);
      transform: translate(-20px, -10px);
    }
    10% {
      clip-path: var(--slice-3);
      transform: translate(10px, 10px);
    }
    20% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 10px);
    }
    30% {
      clip-path: var(--slice-3);
      transform: translate(0px, 5px);
    }
    40% {
      clip-path: var(--slice-2);
      transform: translate(-5px, 0px);
    }
    50% {
      clip-path: var(--slice-3);
      transform: translate(5px, 0px);
    }
    60% {
      clip-path: var(--slice-4);
      transform: translate(5px, 10px);
    }
    70% {
      clip-path: var(--slice-2);
      transform: translate(-10px, 10px);
    }
    80% {
      clip-path: var(--slice-5);
      transform: translate(20px, -10px);
    }
    90% {
      clip-path: var(--slice-1);
      transform: translate(-10px, 0px);
    }
    100% {
      clip-path: var(--slice-1);
      transform: translate(0);
    }
  }
